/* Reset default styles */
body, h1, h2, h3, ul, li, p {
    margin: 0;
    padding: 0; 
  }



@media only screen and (max-width:600px){

  
  }
  
}




  .indent {
    text-indent:50px;
 }
#services {
  margin-top: 20px;
  text-indent:20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

#servicesContact {
  text-align: center;
  margin-top: 40px;
}


 /* for static header */
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 102px;
}

#rcorners {
border-radius: 10px;
border: 7px solid #000;
width: 363px;
height: 263px;
}
#rcorners1 {
  border-radius: 10px;
  border: 7px solid #000;
  width: 250px;
  height: 300px;
  }
  #rcorners2 {
    border-radius: 10px;
    border: 7px solid #000;
    width: 250px;
    height: 300px;
    }
  #rcorners3 {
      border-radius: 10px;
      border: 7px solid #000;
      width: 250px;
      height: 300px;
      }
  #rcorners4 {
        border-radius: 10px;
        border: 7px solid #000;
        width: 250px;
        height: 300px;
        }
  #rcorners5 {
          border-radius: 10px;
          border: 7px solid #000;
          width: 300px;
          height: 300px;
          }     
       
.columnContact {
  margin-left: 40px;
  margin-top: 20px;
  float: left;
  width: 40%;
  
}

/* Clear floats after the columns */
.rowContact:after {
  content: "";
  display: table;
  clear: both;
}

.image-row {
  display: flex;
  gap: 20px;
}
.image-row img {
  width: 35%;
  height: auto;
}

  body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
  }

  /* Top black strip */
  header {
    background-color: #333;
    color: #fff;
    padding: 15px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  
  p  {
    padding-left: 20px;
  }
  
  .pic-ctn {
    width: 100vw;
    height: 200vH;
  }
  

  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(200px);
      opacity: 1;
    }
    20% {
      transform: translateX(-200px);
      opacity: 1;
    }
   
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    40% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 10vh;
  }
  
  .pic-ctn > img {
    position:absolute;
    top: 0;
    left: calc(30% - 100px);
    opacity: 0;
    animation: display 15s infinite;
    
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
  img:nth-child(6) {
    animation-delay: 10s;
  }
  img:nth-child(7) {
    animation-delay: 12s;
  }
  img:nth-child(8) {
    animation-delay: 14s;
  }

*/
  main {
    padding: 30px;
  }
  /* used on contact page */
 #hero {
    display: flex;
    font-family: 'Arial', serif;
    font-size:1rem;
    text-align: center;
    margin:auto;
    width:100%;
    display: inline-block;
    color:#104358;
    position:relative;
  }
  * {
    box-sizing: border-box;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
    float: left;
    width: 45%;
    padding: 20px;
  }
    .column2 {
      float:inline-start;
      width 30%;
      padding-left: 20px;  }
  
  /* Clear floats after image containers */
     .row::after {
    content: "";
    clear: left;
    display: table;
    
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  section {
    margin-bottom: 60px;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }